<div slot="head">
  <title>Contact me| OTG</title>
</div>
<body>
  <h1>Say Hi to me!</h1>
  <form method="POST">
    <div>
      <input type="text" name="name" placeholder="Name" />
    </div>
    <div>
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div>
      <textarea name="message" placeholder="Message"></textarea>
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  </form>
</body>
