---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<head>
		<BaseHead slot='basehead' title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header slot='header' />
		<main slot="body">
			<div class="h-screen w-full">
				<div class="pt-72">

					<h1 class="mytext-base p">test OTG</h1>
					<h1 class="mytext-base h1 font-heading">test OTG</h1>
				</div>

			</div>
		</main>
		<!-- <Footer slot='footer' /> -->
	</body>
</Layout>
