---

---

<div class="mt-72 mb-5 w-full">
  <div class="flex pl-10 pr-32">
    <div class="flex-1">
      <p class="p mytext-base">Logo</p>
      <p class="p mytext-base">Get off.</p>
    </div>
    <div>
      <a href="/categories">
        <p class="p mytext-base">Categories</p>
      </a>
      <a href="/why">
        <p class="p mytext-base">Why</p>
      </a>
      <a href="/contact">
        <p class="p mytext-base">Contact</p>
      </a>
    </div>
  </div>

  <div class="flex justify-end space-x-5 mt-14 mr-14 mytext-base p-small">
    <p>&copy; {new Date().getFullYear()} off the grid. All rights reserved</p>
    <a href="/privacy"><p>Privacy Policy</p></a>
    <a href="/imprint"><p>Imprint</p></a>
  </div>
</div>
