---
import { ArrowRight } from 'lucide-react';
import ThemeToggle from './ThemeToggle.astro';

const pages = ['categories', 'why', 'imprint', 'privacy'];
const currentPath = Astro.url.pathname;
---

<div class="hidden bg-base h-screen w-full fixed top-0 z-50" id="nav-links">
  <div class="w-5/6 flex flex-col mx-auto pt-20">
    <hr class="border-base" />
    {
      pages.map((page) => {
        const isActive = currentPath === `/${page}`;
        return (
          <div>
            <a href={`/${page}`} class={`${isActive ? 'bg-light' : ''} py-5 flex`}>
              <p class="mytext-base h1 flex-1">{page.toUpperCase()}</p>
              <ArrowRight class="mytext-base h1" />
            </a>
            <hr class="border-base" />
          </div>
        );
      })
    }
    <div class="mt-auto flex justify-end absolute bottom-5 right-5 md:bottom-16 md:right-10">
      <ThemeToggle />
    </div>
  </div>
</div>
<script>
  import { loadSavedTheme } from '../scripts/theme.ts';
  loadSavedTheme();
</script>
