---
import { ArrowRight } from '@lucide/astro';

const pages = ['categories', 'why', 'imprint', 'privacy'];
const currentPath = Astro.url.pathname;
---

<div class="hidden h-screen w-full z-50" id="nav-links">
  <div class="w-5/6 mx-auto pt-20">
    <hr class="border-base" />
    {
      pages.map((page) => {
        const isActive = currentPath === `/${page}`;
        return (
          <div class={`h-full ${isActive ? 'bg-light' : ''}`}>
            <div class="py-5">
              <a href={`/${page}`} class="flex">
                <p class="mytext-base h1 flex-1">{page.toUpperCase()}</p>
                <ArrowRight class="mytext-base h1" />
              </a>
            </div>
            <hr class="border-base" />
          </div>
        );
      })
    }
  </div>
</div>
