---
import { X } from '@lucide/astro';
import { Plus } from '@lucide/astro';
---

<div class="mx-5 mb-5 h-auto">
  <div class="h-10 w-full bg-dark rounded-t-sm flex items-center justify-center">
    <div class="pl-2 w-1/6">
      <Plus class="mytext-muted" size={18} />
    </div>

    <p class="p-xsmall mytext-muted text-center w-4/6">OPENSOURCE@2025/07/27: ~</p>
    <div class="pr-2 w-1/6 flex justify-end">
      <X class="mytext-muted" size={18} />
    </div>
  </div>
  <div class="h-44 w-full overflow-hidden">
    <img src="/images/output.jpg" alt="post image" class="object-cover" />
  </div>
  <div class="h-44 bg-light p-5 flex flex-col justify-between rounded-b-sm">
    <div>
      <div class="flex">
        <p class="p-small mytext-muted mr-2">~</p>
        <p class="h2 mytext-base">Switch to Linux</p>
      </div>
      <div class="flex">
        <p class="p-small mytext-muted mr-2">~</p>
        <p class="h2 mytext-base">EndeavorOS install & config guide</p>
      </div>
    </div>
    <div class="justify-end flex">
      <p class="p-xsmall mytext-muted mr-2"># OPENSOURCE</p>
    </div>
  </div>
</div>
