---
import { ArrowUp } from '@lucide/astro';
---

<head>
  <style>
    .scrolled {
      opacity: 100%;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .unscrolled {
      opacity: 0%;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  </style>
</head>
<button id="page-up" class="fixed bottom-0 right-0 opacity-0 z-40">
  <div class="absolute bottom-5 right-5 md:bottom-10 md:right-10">
    <ArrowUp class="mytext-muted" />
  </div>
</button>
