---
import { Moon, Sun } from '@lucide/astro';
---

<button
  id="theme-toggle"
  class="cursor-pointer"
  onclick="import('/src/scripts/theme.ts').then(m => m.toggleTheme())"
>
  <Moon class="moon-icon w-5 h-5 mytext-base hidden" />
  <Sun class="sun-icon w-5 h-5 mytext-base" />
</button>
