---
import { Moon, Sun } from '@lucide/astro';
---

<button
  id="theme-toggle"
  class="cursor-pointer"
  onclick="import('/src/scripts/theme.ts').then(m => m.toggleTheme())"
>
  <Moon id="moon-icon" class="w-5 h-5 mytext-base hidden" />
  <Sun id="sun-icon" class="w-5 h-5 mytext-base" />
</button>
