---
import { Moon, Sun } from 'lucide-react';
---

<button
  id="theme-toggle"
  class="cursor-pointer hover:scale-110 transition-all"
  onclick="import('/src/scripts/theme.ts').then(m => m.toggleTheme())"
>
  <Moon className="moon-icon w-5 h-5 mytext-base hidden" />
  <Sun className="sun-icon w-5 h-5 mytext-base" />
</button>
