---

---

<div id="container">
  <h1 class="h1">hello world</h1>
  <h1 class="font-heading text-h1 leading-h1 tracking-h1 font-bold">Heading 1 with custom vars</h1>

  <p class="font-sans text-p leading-p tracking-p">Paragraph text with custom vars</p>

  <p class="font-sans text-p-small leading-p-small tracking-p-small">Small paragraph</p>

  <div class="bg-bg text-text border border-border p-4">
    Custom background, text and border colors
  </div>
</div>
